In [ ]:
import pypyodbc as odbc
import pandas as pd
import requests
import time

# SQL Server Connection
connection_string = (
    f"DRIVER={{SQL Server}};"
    f"SERVER={r'Akeelah\SQLEXPRESS'};"
    f"DATABASE=Crypto_DataWarehouse;"
    "Trusted_Connection=yes;"
)

# Create connection object
conn = odbc.connect(connection_string)

# Get coins from database - pass connection object instead of string
coins_df = pd.read_sql(
    "SELECT DISTINCT id, name FROM bronze.coin_market WHERE id IS NOT NULL", 
    conn
)

# Fetch OHLC data for all coins
all_data = []
for index, row in coins_df.iterrows():
    coin_id = row['id']
    print(f"Fetching data for {coin_id}...")
    
    try:
            response = requests.get(f'https://api.coingecko.com/api/v3/coins/{coin_id}/ohlc', params={'vs_currency': 'usd', 'days': '365'})
            response.raise_for_status()
            
            coin_df = pd.DataFrame(response.json(), columns=['timestamp', 'open', 'high', 'low', 'close'])
            coin_df['coin_id'] = coin_id
            coin_df['coin_name'] = row.get('name', coin_id)
            coin_df['datetime'] = pd.to_datetime(coin_df['timestamp'], unit='ms')
            all_data.append(coin_df)
            
            print(f"✓ Successfully fetched {len(coin_df)} records for {coin_id}")
            time.sleep(20)
            
    except Exception as e:
            print(f"✗ Error fetching {coin_id}: {e}")
            continue

# Close connection
conn.close()

# Combine all data
ohlc_df = pd.concat(all_data, ignore_index=True) if all_data else pd.DataFrame()

# Display results by coin with separators
if not ohlc_df.empty:
    for coin_id in ohlc_df['coin_id'].unique():
        coin_data = ohlc_df[ohlc_df['coin_id'] == coin_id]
        print(f"\n{'='*80}\nCOIN: {coin_id.upper()} - {coin_data['coin_name'].iloc[0]}\n{'='*80}")
        print(coin_data[['datetime', 'open', 'high', 'low', 'close']].head())
        print(f"Total records: {len(coin_data)}")
        
else:
    print("No data fetched.")

C:\Users\eBay\AppData\Local\Temp\ipykernel_23260\1315061028.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  coins_df = pd.read_sql(

Fetching data for aave...
✓ Successfully fetched 92 records for aave
Fetching data for avalanche-2...
✓ Successfully fetched 92 records for avalanche-2
Fetching data for binance-bridged-usdt-bnb-smart-chain...
✓ Successfully fetched 92 records for binance-bridged-usdt-bnb-smart-chain
Fetching data for binancecoin...
✓ Successfully fetched 92 records for binancecoin
Fetching data for bitcoin...
✓ Successfully fetched 92 records for bitcoin
Fetching data for bitcoin-cash...
✓ Successfully fetched 92 records for bitcoin-cash
Fetching data for bittensor...
✓ Successfully fetched 92 records for bittensor
Fetching data for canton-network...
✓ Successfully fetched 8 records for canton-network
Fetching data for cardano...
✓ Successfully fetched 92 records for cardano
Fetching data for chainlink...
✓ Successfully fetched 92 records for chainlink
Fetching data for coinbase-wrapped-btc...
✓ Successfully fetched 92 records for coinbase-wrapped-btc
Fetching data for crypto-com-chain...
✓ Successfully fetched 92 records for crypto-com-chain
Fetching data for dai...
✓ Successfully fetched 92 records for dai
Fetching data for dogecoin...
✓ Successfully fetched 92 records for dogecoin
Fetching data for ethena-staked-usde...
✓ Successfully fetched 92 records for ethena-staked-usde
Fetching data for ethena-usde...
✓ Successfully fetched 92 records for ethena-usde
Fetching data for ethereum...
✓ Successfully fetched 92 records for ethereum
Fetching data for figure-heloc...
✓ Successfully fetched 27 records for figure-heloc
Fetching data for hedera-hashgraph...
✓ Successfully fetched 92 records for hedera-hashgraph
Fetching data for hyperliquid...
✓ Successfully fetched 92 records for hyperliquid
Fetching data for leo-token...
✓ Successfully fetched 92 records for leo-token
Fetching data for litecoin...
✓ Successfully fetched 92 records for litecoin
Fetching data for mantle...
✓ Successfully fetched 92 records for mantle
Fetching data for memecore...
✓ Successfully fetched 40 records for memecore
Fetching data for monero...
✓ Successfully fetched 92 records for monero
Fetching data for paypal-usd...
✓ Successfully fetched 92 records for paypal-usd
Fetching data for polkadot...
✓ Successfully fetched 92 records for polkadot
Fetching data for ripple...
✓ Successfully fetched 92 records for ripple
Fetching data for shiba-inu...
✓ Successfully fetched 92 records for shiba-inu
Fetching data for solana...
✓ Successfully fetched 92 records for solana
Fetching data for staked-ether...
✓ Successfully fetched 92 records for staked-ether
Fetching data for stellar...
✓ Successfully fetched 92 records for stellar
Fetching data for sui...
✓ Successfully fetched 92 records for sui
Fetching data for susds...
✓ Successfully fetched 91 records for susds
Fetching data for tether...
✓ Successfully fetched 92 records for tether
Fetching data for the-open-network...
✓ Successfully fetched 92 records for the-open-network
Fetching data for tron...
✓ Successfully fetched 92 records for tron
Fetching data for uniswap...
✓ Successfully fetched 92 records for uniswap
Fetching data for usd1-wlfi...
✓ Successfully fetched 61 records for usd1-wlfi
Fetching data for usd-coin...
✓ Successfully fetched 92 records for usd-coin
Fetching data for usds...
✓ Successfully fetched 92 records for usds
Fetching data for usdt0...
✓ Successfully fetched 81 records for usdt0
Fetching data for weth...
✓ Successfully fetched 92 records for weth
Fetching data for whitebit...
✓ Successfully fetched 89 records for whitebit
Fetching data for world-liberty-financial...
✓ Successfully fetched 25 records for world-liberty-financial
Fetching data for wrapped-beacon-eth...
✓ Successfully fetched 92 records for wrapped-beacon-eth
Fetching data for wrapped-bitcoin...
✓ Successfully fetched 92 records for wrapped-bitcoin
Fetching data for wrapped-eeth...
✓ Successfully fetched 92 records for wrapped-eeth
Fetching data for wrapped-steth...
✓ Successfully fetched 92 records for wrapped-steth
Fetching data for zcash...
✓ Successfully fetched 92 records for zcash

================================================================================
COIN: AAVE - Aave
================================================================================
    datetime    open    high     low   close
0 2024-12-11  259.54  286.89  250.83  273.28
1 2024-12-15  274.81  391.90  260.97  366.00
2 2024-12-19  365.57  397.54  340.71  340.71
3 2024-12-23  340.01  348.72  272.76  316.81
4 2024-12-27  317.60  387.27  310.13  337.46
Total records: 92
Total unique coin: 1

================================================================================
COIN: AVALANCHE-2 - Avalanche
================================================================================
     datetime   open   high    low  close
92 2024-12-11  45.17  46.37  41.58  44.60
93 2024-12-15  44.63  54.93  42.98  49.89
94 2024-12-19  49.86  51.69  42.76  42.83
95 2024-12-23  42.79  43.48  33.82  36.52
96 2024-12-27  36.53  41.85  35.70  37.27
Total records: 92
Total unique coin: 1

================================================================================
COIN: BINANCE-BRIDGED-USDT-BNB-SMART-CHAIN - Binance Bridged USDT (BNB Smart Chain)
================================================================================
      datetime      open   high       low     close
184 2024-12-11  1.001000  1.011  0.985259  1.001000
185 2024-12-15  0.999868  1.008  0.989286  1.000000
186 2024-12-19  0.999562  1.015  0.991645  1.002000
187 2024-12-23  0.999223  1.010  0.984688  0.998747
188 2024-12-27  0.998457  1.009  0.990764  0.998794
Total records: 92
Total unique coin: 1

================================================================================
COIN: BINANCECOIN - BNB
================================================================================
      datetime    open    high     low   close
276 2024-12-11  688.88  704.13  651.60  675.42
277 2024-12-15  675.88  732.40  659.76  715.45
278 2024-12-19  715.52  735.66  686.72  687.66
279 2024-12-23  685.72  704.59  618.83  648.57
280 2024-12-27  648.82  716.37  638.46  687.52
Total records: 92
Total unique coin: 1

================================================================================
COIN: BITCOIN - Bitcoin
================================================================================
      datetime      open      high       low     close
368 2024-12-11   97371.0   98328.0   94387.0   96650.0
369 2024-12-15   96643.0  102658.0   95741.0  101367.0
370 2024-12-19  101393.0  108135.0  100237.0  100356.0
371 2024-12-23  100139.0  102759.0   92245.0   95094.0
372 2024-12-27   95110.0   99887.0   92442.0   95678.0
Total records: 92
Total unique coin: 1

================================================================================
COIN: BITCOIN-CASH - Bitcoin Cash
================================================================================
      datetime    open    high     low   close
460 2024-12-11  552.54  563.59  487.90  515.46
461 2024-12-15  515.88  562.32  506.04  533.94
462 2024-12-19  533.73  555.81  479.87  480.75
463 2024-12-23  479.93  488.19  390.91  444.83
464 2024-12-27  445.23  477.57  432.32  437.26
Total records: 92
Total unique coin: 1

================================================================================
COIN: BITTENSOR - Bittensor
================================================================================
      datetime    open    high     low   close
552 2024-12-11  599.54  607.60  534.13  576.87
553 2024-12-15  576.35  641.78  538.79  560.11
554 2024-12-19  560.29  584.35  497.59  501.67
555 2024-12-23  500.41  505.80  401.77  449.52
556 2024-12-27  449.88  519.38  440.73  471.38
Total records: 92
Total unique coin: 1

================================================================================
COIN: CANTON-NETWORK - Canton
================================================================================
      datetime      open      high       low     close
644 2025-11-12  0.135743  0.159483  0.096224  0.117585
645 2025-11-16  0.117743  0.138557  0.108897  0.113163
646 2025-11-20  0.112727  0.116205  0.097889  0.099910
647 2025-11-24  0.099887  0.100651  0.073234  0.079028
648 2025-11-28  0.079207  0.098052  0.078976  0.086536
Total records: 8
Total unique coin: 1

================================================================================
COIN: CARDANO - Cardano
================================================================================
      datetime      open      high       low     close
652 2024-12-11  1.007000  1.036000  0.916297  1.017000
653 2024-12-15  1.021000  1.170000  0.977138  1.060000
654 2024-12-19  1.060000  1.120000  0.968992  0.968992
655 2024-12-23  0.966663  0.996540  0.764869  0.882796
656 2024-12-27  0.882846  0.948189  0.852086  0.859342
Total records: 92
Total unique coin: 1

================================================================================
COIN: CHAINLINK - Chainlink
================================================================================
      datetime   open   high    low  close
744 2024-12-11  22.30  23.65  20.45  22.23
745 2024-12-15  22.19  30.68  21.24  29.05
746 2024-12-19  29.09  30.70  24.83  24.92
747 2024-12-23  24.85  25.49  20.06  22.03
748 2024-12-27  22.04  25.93  21.64  22.65
Total records: 92
Total unique coin: 1

================================================================================
COIN: COINBASE-WRAPPED-BTC - Coinbase Wrapped BTC
================================================================================
      datetime      open      high       low     close
836 2024-12-11   97327.0   98226.0   94488.0   96615.0
837 2024-12-15   96686.0  102557.0   95736.0  101362.0
838 2024-12-19  101370.0  108259.0  100330.0  100503.0
839 2024-12-23  100027.0  102610.0   91998.0   95115.0
840 2024-12-27   95106.0   99722.0   92484.0   95699.0
Total records: 92
Total unique coin: 1

================================================================================
COIN: CRYPTO-COM-CHAIN - Cronos
================================================================================
      datetime      open      high       low     close
928 2024-12-11  0.173854  0.175454  0.154682  0.174385
929 2024-12-15  0.174877  0.198892  0.165880  0.175917
930 2024-12-19  0.175991  0.206588  0.170823  0.173731
931 2024-12-23  0.172643  0.185244  0.142037  0.153801
932 2024-12-27  0.153975  0.167426  0.148190  0.150484
Total records: 92
Total unique coin: 1

================================================================================
COIN: DAI - Dai
================================================================================
       datetime      open   high       low     close
1020 2024-12-11  0.999436  1.004  0.994327  0.999399
1021 2024-12-15  0.999764  1.006  0.993928  0.999760
1022 2024-12-19  0.999749  1.008  0.991253  1.000000
1023 2024-12-23  0.998668  1.006  0.992571  0.999894
1024 2024-12-27  1.000000  1.006  0.995632  0.999857
Total records: 92
Total unique coin: 1

================================================================================
COIN: DOGECOIN - Dogecoin
================================================================================
       datetime      open      high       low     close
1112 2024-12-11  0.414160  0.419809  0.368364  0.393384
1113 2024-12-15  0.394135  0.422877  0.376568  0.397785
1114 2024-12-19  0.397702  0.412978  0.357243  0.358238
1115 2024-12-23  0.357947  0.366334  0.267340  0.311911
1116 2024-12-27  0.312251  0.340955  0.303655  0.311922
Total records: 92
Total unique coin: 1

================================================================================
COIN: ETHENA-STAKED-USDE - Ethena Staked USDe
================================================================================
       datetime  open  high   low  close
1204 2024-12-11  1.13  1.15  1.12   1.13
1205 2024-12-15  1.13  1.14  1.12   1.14
1206 2024-12-19  1.14  1.15  1.12   1.13
1207 2024-12-23  1.13  1.14  1.12   1.13
1208 2024-12-27  1.13  1.14  1.13   1.13
Total records: 92
Total unique coin: 1

================================================================================
COIN: ETHENA-USDE - Ethena USDe
================================================================================
       datetime      open   high       low     close
1296 2024-12-11  1.001000  1.005  0.998226  1.002000
1297 2024-12-15  1.002000  1.006  0.997743  1.001000
1298 2024-12-19  1.001000  1.006  0.991551  1.000000
1299 2024-12-23  1.001000  1.003  0.994326  0.998880
1300 2024-12-27  0.999015  1.003  0.992970  0.997867
Total records: 92
Total unique coin: 1

================================================================================
COIN: ETHEREUM - Ethereum
================================================================================
       datetime     open     high      low    close
1388 2024-12-11  3713.82  3774.55  3524.91  3626.59
1389 2024-12-15  3628.00  3985.40  3570.34  3867.00
1390 2024-12-19  3868.32  4081.83  3625.59  3628.26
1391 2024-12-23  3622.13  3718.53  3112.95  3275.89
1392 2024-12-27  3277.06  3538.01  3224.07  3327.79
Total records: 92
Total unique coin: 1

================================================================================
COIN: FIGURE-HELOC - Figure Heloc
================================================================================
       datetime      open   high       low     close
1480 2025-08-28  0.996333  1.028  0.995545  1.028000
1481 2025-09-01  1.028000  1.056  0.987799  1.000000
1482 2025-09-05  0.987949  1.043  0.987949  1.034000
1483 2025-09-09  1.034000  1.041  0.883674  0.995778
1484 2025-09-13  0.995778  1.046  0.990369  1.011000
Total records: 27
Total unique coin: 1

================================================================================
COIN: HEDERA-HASHGRAPH - Hedera
================================================================================
       datetime      open      high       low     close
1507 2024-12-11  0.280784  0.298921  0.255243  0.287900
1508 2024-12-15  0.288803  0.328255  0.272337  0.294207
1509 2024-12-19  0.294014  0.309823  0.272964  0.273103
1510 2024-12-23  0.272167  0.298873  0.235013  0.265155
1511 2024-12-27  0.265193  0.337563  0.256466  0.284690
Total records: 92
Total unique coin: 1

================================================================================
COIN: HYPERLIQUID - Hyperliquid
================================================================================
       datetime   open   high    low  close
1599 2024-12-11  13.39  14.41  12.59  13.88
1600 2024-12-15  13.58  24.29  13.09  24.28
1601 2024-12-19  24.34  29.03  21.47  23.17
1602 2024-12-23  23.30  34.96  21.94  28.22
1603 2024-12-27  28.14  31.32  24.25  26.87
Total records: 92
Total unique coin: 1

================================================================================
COIN: LEO-TOKEN - LEO Token
================================================================================
       datetime  open  high   low  close
1691 2024-12-11  9.44  9.56  9.18   9.47
1692 2024-12-15  9.47  9.73  8.95   9.42
1693 2024-12-19  9.40  9.79  9.10   9.10
1694 2024-12-23  9.10  9.49  8.99   9.30
1695 2024-12-27  9.30  9.58  9.07   9.13
Total records: 92
Total unique coin: 1

================================================================================
COIN: LITECOIN - Litecoin
================================================================================
       datetime    open    high     low   close
1783 2024-12-11  110.61  114.43  102.09  109.53
1784 2024-12-15  109.77  124.72  106.53  118.10
1785 2024-12-19  118.08  129.46  108.58  108.98
1786 2024-12-23  108.27  111.35   87.07   99.47
1787 2024-12-27   99.52  110.50   98.44  102.10
Total records: 92
Total unique coin: 1

================================================================================
COIN: MANTLE - Mantle
================================================================================
       datetime   open  high    low  close
1875 2024-12-11  1.140  1.23  1.040  1.190
1876 2024-12-15  1.180  1.36  1.140  1.230
1877 2024-12-19  1.230  1.26  1.092  1.094
1878 2024-12-23  1.096  1.32  1.003  1.160
1879 2024-12-27  1.160  1.28  1.150  1.170
Total records: 92
Total unique coin: 1

================================================================================
COIN: MEMECORE - MemeCore
================================================================================
       datetime      open      high       low     close
1967 2025-07-07  0.066220  0.096805  0.047461  0.093974
1968 2025-07-11  0.093665  0.473009  0.089779  0.434206
1969 2025-07-15  0.433201  0.897338  0.413382  0.429891
1970 2025-07-19  0.428139  0.432117  0.318527  0.342373
1971 2025-07-23  0.344167  0.466896  0.329149  0.384002
Total records: 40
Total unique coin: 1

================================================================================
COIN: MONERO - Monero
================================================================================
       datetime    open    high     low   close
2007 2024-12-11  175.92  179.95  166.55  178.70
2008 2024-12-15  179.24  220.06  175.62  209.01
2009 2024-12-19  209.91  231.45  206.63  212.73
2010 2024-12-23  212.69  215.24  168.35  190.11
2011 2024-12-27  190.17  199.53  184.66  188.63
Total records: 92
Total unique coin: 1

================================================================================
COIN: PAYPAL-USD - PayPal USD
================================================================================
       datetime      open   high       low     close
2099 2024-12-11  0.999865  1.006  0.994623  0.999555
2100 2024-12-15  0.999063  1.005  0.994917  0.999827
2101 2024-12-19  1.000000  1.006  0.995349  0.999650
2102 2024-12-23  0.999148  1.009  0.994820  0.999123
2103 2024-12-27  1.000000  1.004  0.992025  1.000000
Total records: 92
Total unique coin: 1

================================================================================
COIN: POLKADOT - Polkadot
================================================================================
       datetime  open  high   low  close
2191 2024-12-11  8.49  8.68  7.64   8.38
2192 2024-12-15  8.39  9.59  8.08   8.55
2193 2024-12-19  8.55  9.22  7.69   7.70
2194 2024-12-23  7.69  7.79  6.08   6.82
2195 2024-12-27  6.83  7.65  6.70   6.93
Total records: 92
Total unique coin: 1

================================================================================
COIN: RIPPLE - XRP
================================================================================
       datetime  open  high   low  close
2283 2024-12-11  2.22  2.39  1.94   2.35
2284 2024-12-15  2.36  2.52  2.24   2.40
2285 2024-12-19  2.40  2.71  2.30   2.30
2286 2024-12-23  2.30  2.42  1.98   2.20
2287 2024-12-27  2.20  2.35  2.13   2.15
Total records: 92
Total unique coin: 1

================================================================================
COIN: SHIBA-INU - Shiba Inu
================================================================================
       datetime      open      high       low     close
2375 2024-12-11  0.000027  0.000028  0.000024  0.000027
2376 2024-12-15  0.000027  0.000030  0.000026  0.000027
2377 2024-12-19  0.000027  0.000028  0.000024  0.000024
2378 2024-12-23  0.000024  0.000024  0.000019  0.000021
2379 2024-12-27  0.000021  0.000024  0.000021  0.000022
Total records: 92
Total unique coin: 1

================================================================================
COIN: SOLANA - Solana
================================================================================
       datetime    open    high     low   close
2467 2024-12-11  217.32  220.24  204.07  213.53
2468 2024-12-15  213.65  234.11  211.94  219.87
2469 2024-12-19  219.88  228.26  204.88  205.36
2470 2024-12-23  205.85  211.85  176.48  180.15
2471 2024-12-27  180.26  201.47  176.94  188.14
Total records: 92
Total unique coin: 1

================================================================================

In [75]:
table_name = "bronze.candle_historical_data"
# SQL Server Connection
connection_string = (
    f"DRIVER={{SQL Server}};"
    f"SERVER={r'Akeelah\SQLEXPRESS'};"
    f"DATABASE=Crypto_DataWarehouse;"
    "Trusted_Connection=yes;"
)

# Create connection object
connection = odbc.connect(connection_string)
sql = (f"""
SELECT coin_id, Max([datetime]) AS last_data_load, COUNT(*) AS number_of_data
FROM {table_name}
GROUP BY coin_id
"""
)
cursor = connection.cursor()


cursor.execute(sql)


all_coin_rows = cursor.fetchall()

all_coin = pd.DataFrame(all_coin_rows, columns=['coin_id','last_data_load', 'number_of_data'])
all_coin

Empty DataFrame
Columns: [coin_id, last_data_load, number_of_data]
Index: []

In [76]:
filtered_coins_less92_datapoint = all_coin[
    (all_coin['coin_id'].isin(ohlc_df['coin_id'])) &
    (all_coin['number_of_data'] < 92)
]
filtered_coins_less92_datapoint

Empty DataFrame
Columns: [coin_id, last_data_load, number_of_data]
Index: []

In [ ]:
ohlc_less_92_incremental = (
    ohlc_df
    .merge(filtered_coins_less92_datapoint, on='coin_id', how='left')
)
ohlc_less_92_incremental

,timestamp,open,high,low,close,coin_id,coin_name,datetime,last_data_load,number_of_data
0,1733875200000,259.54,286.89,250.83,273.28,aave,Aave,2024-12-11,NaN,NaN
1,1734220800000,274.81,391.90,260.97,366.00,aave,Aave,2024-12-15,NaN,NaN
2,1734566400000,365.57,397.54,340.71,340.71,aave,Aave,2024-12-19,NaN,NaN
3,1734912000000,340.01,348.72,272.76,316.81,aave,Aave,2024-12-23,NaN,NaN
4,1735257600000,317.60,387.27,310.13,337.46,aave,Aave,2024-12-27,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1778,1763942400000,9.37,9.52,9.04,9.44,leo-token,LEO Token,2025-11-24,NaN,NaN
1779,1764288000000,9.49,9.81,9.43,9.78,leo-token,LEO Token,2025-11-28,NaN,NaN
1780,1764633600000,9.79,9.91,9.68,9.85,leo-token,LEO Token,2025-12-02,NaN,NaN
1781,1764979200000,9.87,9.87,9.11,9.47,leo-token,LEO Token,2025-12-06,NaN,NaN
1782,1765324800000,9.47,9.77,9.40,9.63,leo-token,LEO Token,2025-12-10,NaN,NaN

In [67]:
less_92datapoint_coins

[]

In [78]:
ohlc_new

,timestamp,open,high,low,close,coin_id,coin_name,datetime
0,1733875200000,259.54,286.89,250.83,273.28,aave,Aave,2024-12-11
1,1734220800000,274.81,391.90,260.97,366.00,aave,Aave,2024-12-15
2,1734566400000,365.57,397.54,340.71,340.71,aave,Aave,2024-12-19
3,1734912000000,340.01,348.72,272.76,316.81,aave,Aave,2024-12-23
4,1735257600000,317.60,387.27,310.13,337.46,aave,Aave,2024-12-27
...,...,...,...,...,...,...,...,...
4281,1763942400000,672.61,713.31,478.39,572.94,zcash,Zcash,2025-11-24
4282,1764288000000,572.46,590.43,485.75,489.07,zcash,Zcash,2025-11-28
4283,1764633600000,489.27,489.27,326.75,345.49,zcash,Zcash,2025-12-02
4284,1764979200000,344.93,403.75,303.31,359.53,zcash,Zcash,2025-12-06
4285,1765324800000,359.95,447.48,330.25,432.61,zcash,Zcash,2025-12-10

In [80]:
historical_data_less_92_incremental = ohlc_df[
        ohlc_df['coin_id'].isin(filtered_coins_less92_datapoint['coin_id'])]

historical_data_less_92_incremental

Empty DataFrame
Columns: [timestamp, open, high, low, close, coin_id, coin_name, datetime]
Index: []

In [81]:
ohlc_less_92_incremental = (
    ohlc_df
    .merge(filtered_coins_less92_datapoint, on='coin_id', how='left')
)

ohlc_less_92_incremental

,timestamp,open,high,low,close,coin_id,coin_name,datetime,last_data_load,number_of_data
0,1733875200000,259.54,286.89,250.83,273.28,aave,Aave,2024-12-11,NaN,NaN
1,1734220800000,274.81,391.90,260.97,366.00,aave,Aave,2024-12-15,NaN,NaN
2,1734566400000,365.57,397.54,340.71,340.71,aave,Aave,2024-12-19,NaN,NaN
3,1734912000000,340.01,348.72,272.76,316.81,aave,Aave,2024-12-23,NaN,NaN
4,1735257600000,317.60,387.27,310.13,337.46,aave,Aave,2024-12-27,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4281,1763942400000,672.61,713.31,478.39,572.94,zcash,Zcash,2025-11-24,NaN,NaN
4282,1764288000000,572.46,590.43,485.75,489.07,zcash,Zcash,2025-11-28,NaN,NaN
4283,1764633600000,489.27,489.27,326.75,345.49,zcash,Zcash,2025-12-02,NaN,NaN
4284,1764979200000,344.93,403.75,303.31,359.53,zcash,Zcash,2025-12-06,NaN,NaN
4285,1765324800000,359.95,447.48,330.25,432.61,zcash,Zcash,2025-12-10,NaN,NaN

In [77]:
ohlc_coins = set(ohlc_df['coin_id'])
db_coins = set(all_coin['coin_id'])

new_coins = ohlc_coins - db_coins

less_92datapoint_coins = all_coin[all_coin['number_of_data'] < 92]['coin_id'].tolist()

full_data_coin = all_coin[all_coin['number_of_data'] >= 92]['coin_id'].tolist()

ohlc_new = ohlc_df[ohlc_df['coin_id'].isin(new_coins)]


if not ohlc_new.empty:
    params_list = [
        (
            row['timestamp'], row['open'], row['high'], row['low'], row['close'],
            row['coin_id'], row['coin_name'], row['datetime']
        )
        for _, row in ohlc_new.iterrows()
    ]

    load_query = f'''
    INSERT INTO {table_name} (
        [timestamp], [open], [high], [low], [close],
        coin_id, coin_name, [datetime]
    )
    VALUES (?, ?, ?, ?, ?, ?, ?, ?)
    '''
    cursor.executemany(load_query, params_list)
    connection.commit()
    print(f"🆕 {len(params_list)} rows inserted for new coins")


if  less_92datapoint_coins:

    filtered_coins_less92_datapoint = all_coin[
    (all_coin['coin_id'].isin(ohlc_df['coin_id'])) &
    (all_coin['number_of_data'] < 92)
]
    
    ohlc_less_92_incremental = (
    ohlc_df
    .merge(filtered_coins_less92_datapoint, on='coin_id', how='left')
)
    
    params_list = [
        (
            row['timestamp'], row['open'], row['high'], row['low'], row['close'],
            row['coin_id'], row['coin_name'], row['datetime']
        )
        for _, row in ohlc_less_92_incremental.iterrows()
    ]
    cursor.executemany(load_query, params_list)
    connection.commit()
    print(f"🔄 {len(params_list)} incremental rows inserted for partial coins")
else:
    print("ℹ️ No incremental rows to insert for partial coins")



ohlc_mature = ohlc_df[ohlc_df['coin_id'].isin(full_data_coin)]
if not ohlc_mature.empty:

    delete_earliest_92_datapoint_sql = f"""
    WITH data_occurrence AS (
    SELECT coin_id, COUNT(*) AS number_of_data
    FROM {table_name}
    GROUP BY coin_id
    HAVING COUNT(*) >= 92
),
Ranked AS (
    SELECT *,
           ROW_NUMBER() OVER (PARTITION BY coin_id ORDER BY [datetime] DESC) AS rn
    FROM {table_name}
)
DELETE Ranked
FROM Ranked
JOIN data_occurrence
  ON Ranked.coin_id = data_occurrence.coin_id
WHERE rn = 1
    """
    cursor.execute(delete_earliest_92_datapoint_sql)
    rows = cursor.fetchall()
    selected = len(rows)
    connection.commit()
    print(f"✅ {cursor.rowcount} oldest rows deleted for full data coins")

    
    # Keep only latest row per coin
    ohlc_latest = (
        ohlc_mature
        .sort_values('datetime')
        .groupby('coin_id', as_index=False)
        .tail(1)
    )
    params_list = [
        (
            row['timestamp'], row['open'], row['high'], row['low'], row['close'],
            row['coin_id'], row['coin_name'], row['datetime']
        )
        for _, row in ohlc_latest.iterrows()
    ]
    cursor.executemany(load_query, params_list)
    connection.commit()
    print(f"♻️ {len(params_list)} latest rows inserted for mature coins")

# -----------------------------
# CLOSE CONNECTION
# -----------------------------
cursor.close()
connection.close()
print("All done ✅")

🆕 4286 rows inserted for new coins
ℹ️ No incremental rows to insert for partial coins
All done ✅

In [ ]:
ohlc_coins = set(ohlc_df['coin_id'])
db_coins = set(all_coin['coin_id'])


filtered_coins_92_datapoint = all_coin[
    (all_coin['coin_id'].isin(ohlc_df['coin_id'])) &
    (all_coin['number_of_data'] >= 92)
]

ohlc_latest_92 = (
    filtered_coins_92_datapoint
    .sort_values('datetime')
    .groupby('coin_id', as_index=False)
    .tail(1)
)

filtered_coins_less92_datapoint = all_coin[
    (all_coin['coin_id'].isin(ohlc_df['coin_id'])) &
    (all_coin['number_of_data'] < 92)
]


ohlc_latest_92 = (
    filtered_coins_less92_datapoint
    .sort_values('datetime')
    .groupby('coin_id', as_index=False)
    .tail(1)
)

if not filtered_coins_92_datapoint.empty:
    delete_earliest_92_datapoint_sql = """
    WITH data_occurrence AS (
        SELECT coin_id, COUNT(*) AS number_of_data
        FROM bronze.candle_historical_data
        GROUP BY coin_id
        HAVING COUNT(*) >= 92
    ),
    Ranked AS (
        SELECT *,
               ROW_NUMBER() OVER (PARTITION BY coin_id ORDER BY [datetime] DESC) AS rn
        FROM bronze.candle_historical_data
    )
    SELECT Ranked.*
    FROM Ranked
    JOIN data_occurrence
      ON Ranked.coin_id = data_occurrence.coin_id
    WHERE rn = 1
    """
    cursor.execute(delete_earliest_92_datapoint_sql)
    rows = cursor.fetchall()
    selected = len(rows)
    connection.commit()
    print(f"✅ {selected} latest rows have been selected.")


    

    params_list = [
        (
            row['timestamp'], row['open'], row['high'], row['low'], row['close'],
            row['coin_id'], row['coin_name'], row['datetime']
        )
        for _, row in ohlc_latest_92.iterrows()
    ]

    cursor.executemany(load_query, params_list)
    connection.commit()

    cursor.close()
    connection.close()

    print(f"{len(params_list)} new rows inserted into {table_name} ✅")

    
elif

SyntaxError: invalid syntax (3532761917.py, line 71)

In [30]:
filtered_coins_92_datapoint

                                 coin_id  number_of_data
0                           bitcoin-cash              92
1                               ethereum              92
2                                bitcoin              92
3   binance-bridged-usdt-bnb-smart-chain              92
4                              chainlink              92
5                       crypto-com-chain              92
6                     ethena-staked-usde              92
7                            binancecoin              92
8                               dogecoin              92
9                   coinbase-wrapped-btc              92
10                      hedera-hashgraph              92
12                             bittensor              92
13                                   dai              92
14                           avalanche-2              92
15                             leo-token              92
16                           ethena-usde              92
17                               cardano              92
18                           hyperliquid              92
19                                  aave              92